ul, li{
  all:unset;
}

td.dayCell{
  color: black;
  -ms-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

td.dayCell.active{
  color: red;
}

ul.day-text-box{
  display: block;
}

li.day-text{
  font-size: 13px;
}

td.no-day{
  pointer-events: none;
}
